.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
    margin: 15px;
  }
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  padding: 0 15px;
}

@media (width >= 800px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
